body {
  font-family: 'Poppins', sans-serif;
  /* Degradado suave para el fondo */
  background: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%);
  margin: 0;
  display: flex; /* Para centrar el login si no está el router-outlet */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}